// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.thanks{
  display: flex;
  align-items: center;
  width: auto;
  height: 500px;
  justify-content: center;
}