<div class="container">
  <div class="center-block">
   <div class="about"><strong>About</strong></div>
    <h3>ながのCAKEは全国発送可能なケーキ屋さんです</br>
    お子様からお年寄りまで尾根仕上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国発送可能ですので『いつ』でも『どこ』でも</br>
    ご注文いただけます。ぜひご注文ください。
    </h3>
  </div>
</div>